<h2>Welcome to Pizza Shop!</h2>
<div class = "row">
	<% @products.each do |p| %>
		<div class = col-md-3>
			<div>
				<p align="center"><%= p.title%></p>
			</div>
			<div>
				<p align="center"><img src="<%= p.path_to_image%>"/></p>
			</div>
			<div>
				<p><%= p.description%></p>
			</div>
			<div>
				<p>Size: <%= p.size%> cm.</p>
			</div>
			<div>
				<p>Price: <%= p.price%> UAH.</p>
			</div>
			<div>
				<button type="button" class="btn btn-success btn-sm" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
			</div>
		</div>
	<% end %>
</div>
<br />
<br />
<hr />
<button class = "btn btn-primary" onclick="something()">Click me!</button>