<h2>All orders</h2>
<hr />
<table class="table table-striped">
	<thead>
		<th>#</th>
		<th>Order list</th>
		<th>Costomer_name</th>
		<th>Phone</th>
		<th>Customer_adrs</th>
	</thead>
	<tbody>
		<% i = 1 %>
		<% @list.each do |l| %>
		<tr>
			<td><%= i %></td>
			<td><%= l.orders_input %></td>
			<td><%= l.customer_name %></td>
			<td><%= l.phone %></td>
			<td><%= l.customer_adrs %></td>
		</tr>
		<% i += 1 %>
		<% end %>
	</tbody>
</table>